extends layout/template

block vars

block head
	//+loadCSS('/css/promo.css')

block content
	.title Лига сутулой собаки
	table
		thead
			tr
				th(data-type='numeric')
					| Имя
					span.resize-handle
				th(data-type='text-short')
					| Очки
					span.resize-handle
				th(data-type='text-short')
					| Набранные очки на играх
					span.resize-handle
				th(data-type='text-short')
					| Сыграно партий
					span.resize-handle
				th(data-type='text-long')
					| Оскорбительное прозвище
					span.resize-handle
		tbody
			tr
				td Яловик
				td 36
				td 396(3) + 421(3) + 594(4) + 398(3)
				td 13
				td Вова

	.title Лига ссаного лакерка
	table
		thead
			tr
				th(data-type='numeric')
					| Имя
					span.resize-handle
				th(data-type='text-short')
					| Очки
					span.resize-handle
				th(data-type='text-short')
					| Набранные очки на играх
					span.resize-handle
				th(data-type='text-short')
					| Сыграно партий
					span.resize-handle
				th(data-type='text-long')
					| Оскорбительное прозвище
					span.resize-handle
		tbody
			tr
				td Сидорин
				td 28
				td 346 + 331 + 571 + 401
				td 13
				td Саня
			tr
				td Кустов
				td 22
				td 299 + 346 + 431 + 325
				td 13
				td Виталий
			tr
				td Иванов
				td 20
				td 290 + 244 + 448 + 402
				td 13
				td Сергей


	.title Лига немытых принцесс
	table
		thead
			tr
				th(data-type='numeric')
					| Имя
					span.resize-handle
				th(data-type='text-short')
					| Очки
					span.resize-handle
				th(data-type='text-short')
					| Набранные очки на играх
					span.resize-handle
				th(data-type='text-short')
					| Игры
					span.resize-handle
				th(data-type='text-long')
					| Оскорбительное прозвище
					span.resize-handle
		tbody
			tr
				td Кастюковец
				td 17.5
				td 298 + 331 + 472 + 286
				td 13
				td Кирилл
			tr
				td Шпак
				td 11
				td 341 + 343
				td 6
				td Алексей
			tr
				td Гам
				td 6
				td 245 + 369
				td 7
				td помойка
			tr
				td Люба
				td 6
				td 210 + 251 + 331
				td 10
				td Любаха
			tr
				td Макс
				td 4
				td 331
				td 3
				td Никогда не победит Вову
			tr
				td Оля
				td 2
				td 174 + 314 + 279
				td 10
				td Оля
			tr
				td Леха
				td 0 + 0 + 2.5
				td 211 + 271 + 286
				td 7
				td Алексей
			tr
				td Настя
				td 0
				td 196
				td 3
				td Настя





block footer
	script(src="/js/main.bundle.js")