extends layout/template

block vars

block head
	//+loadCSS('/css/promo.css')

block content
	.title Лига сутулой собаки
	table
		thead
			tr
				th(data-type='numeric')
					| Имя
					span.resize-handle
				th(data-type='text-short')
					| Очки
					span.resize-handle
				th(data-type='text-short')
					| Набранные очки на играх
					span.resize-handle
				th(data-type='text-short')
					| Сыграно партий
					span.resize-handle
				th(data-type='text-long')
					| Оскорбительное прозвище
					span.resize-handle
		tbody
			tr
				td Яловик
				td 30
				td 396 + 421 + 594
				td 10
				td Сутулая собака

	.title Лига ссаного лакерка
	table
		thead
			tr
				th(data-type='numeric')
					| Имя
					span.resize-handle
				th(data-type='text-short')
					| Очки
					span.resize-handle
				th(data-type='text-short')
					| Набранные очки на играх
					span.resize-handle
				th(data-type='text-short')
					| Сыграно партий
					span.resize-handle
				th(data-type='text-long')
					| Оскорбительное прозвище
					span.resize-handle
		tbody
			tr
				td Сидорин
				td 20
				td 346 + 331 + 571
				td 10
				td тертые ляхи
			tr
				td Кустов
				td 18
				td 299 + 346 + 431
				td 10
				td Лифт
			tr
				td Кастюковец
				td 15
				td 298 + 331 + 472
				td 10
				td Чья то подружка

	.title Лига немытых принцесс
	table
		thead
			tr
				th(data-type='numeric')
					| Имя
					span.resize-handle
				th(data-type='text-short')
					| Очки
					span.resize-handle
				th(data-type='text-short')
					| Набранные очки на играх
					span.resize-handle
				th(data-type='text-short')
					| Игры
					span.resize-handle
				th(data-type='text-long')
					| Оскорбительное прозвище
					span.resize-handle
		tbody
			tr
				td Иванов
				td 10
				td 290 + 244 + 448
				td 10
				td Машина
			tr
				td Шпак
				td 6
				td 341
				td 3
				td Забыл как играть наверное уже
			tr
				td Гам
				td 6
				td 245 + 369
				td 7
				td помойка
			tr
				td Люба
				td 6
				td 210 + 251 + 331
				td 10
				td Любаха
			tr
				td Макс
				td 4
				td 331
				td 3
				td Никогда не победит Вову
			tr
				td Оля
				td 1
				td 174 + 314
				td 7
				td Лучше Лехи
			tr
				td Леха
				td 0 + 0
				td 211 + 271
				td 7
				td помойка
			tr
				td Настя
				td 0
				td 196
				td 3
				td Прогульщица





block footer
	script(src="/js/main.bundle.js")