extends layout/template

block vars

block head
	//+loadCSS('/css/promo.css')

block content
	.title Лига ссаного лакерка
	table
		thead
			tr
				th(data-type='numeric')
					| Имя
					span.resize-handle
				th(data-type='text-short')
					| Очки
					span.resize-handle
				th(data-type='text-short')
					| Набранные очки на играх
					span.resize-handle
				th(data-type='text-short')
					| Сыграно партий
					span.resize-handle
				th(data-type='text-long')
					| Оскорбительное прозвище
					span.resize-handle
		tbody
			tr
				td Яловик
				td 20
				td 396 + 421
				td 6
				td Машина
			tr
				td Кустов
				td 14
				td 299 + 346
				td 6
				td Диагональ
			tr
				td Сидорин
				td 12
				td 346 + 331
				td 6
				td Крученый
			tr
				td Кастюковец
				td 9
				td 298 + 331
				td 6
				td Нежный
	.title Лига немытых принцесс
	table
		thead
			tr
				th(data-type='numeric')
					| Имя
					span.resize-handle
				th(data-type='text-short')
					| Очки
					span.resize-handle
				th(data-type='text-short')
					| Набранные очки на играх
					span.resize-handle
				th(data-type='text-short')
					| Игры
					span.resize-handle
				th(data-type='text-long')
					| Оскорбительное прозвище
					span.resize-handle
		tbody
			tr
				td Шпак
				td 6
				td 341
				td 3
				td Виласко
			tr
				td Иванов
				td 5
				td 290 + 244
				td 6
				td Тапок
			tr
				td Люба
				td 4
				td 210 + 251
				td 6
				td без Гама лучше
			tr
				td Макс
				td 4
				td 331
				td 3
				td Занес Вове денег
			tr
				td Гам
				td 3
				td 245
				td 3
				td ну он же работает
			tr
				td Леха
				td 0
				td 211
				td 3
				td пока не получается
			tr
				td Настя
				td 0
				td 196
				td 3
				td Сандаля
			tr
				td Оля
				td 0
				td 174
				td 3
				td левша




block footer
	script(src="/js/main.bundle.js")