block vars

mixin loadCSS(url)
	case ENV
		when 'development'
			//placeholder for generated css
		default
			link(rel="stylesheet", href=url)/


doctype html
html
	head
		meta(charset="UTF-8")/
		meta(name="viewport", content="width=768")/
		meta(http-equiv="X-UA-Compatible", content="IE=edge")/
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
		+loadCSS("/css/main.css")
		//script(src="https://www.youtube.com/player_api")

		title Лига боулинга имени криворукого Алексея

		block head
	body
		.wrapper
			.website
				block content
		block footer

